:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --primary_color: #212429;
  --secondary_color: #fff;
}
* {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary_color);
}
a {
  display: block;
}
/* nav {
  padding: 16px;
}
nav form {
  border-bottom: 1px solid var(--primary_color);
}
nav ul {
  padding: 0;
}
nav form label {
  position: relative;
} */
/*  */
nav {
  padding: 16px;

  & form {
    border-bottom: 1px solid var(--primary_color);
    & label {
      position: relative;
    }
  }
  & ul {
    padding: 0;
  }
}
/*  */

.nav_main li a {
  margin: 0 16px;
  text-transform: uppercase;
}
.nav_icons li a {
  margin: 0 24px;
}

body {
  margin: 0;
}
/* Setting classes */
.d_flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
nav form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Setting classes*/
#checkbox_hamburguer_menu {
  appearance: none;
  width: 24px;
  position: absolute;
  left: 0;
  margin: 0;
  height: 24px;
}
