:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --primary_color: #212429;
  --secondary_color: #fff;
}
* {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary_color);
}
a {
  display: block;
}
/* Setting classes */
.d_flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.align_center {
  align-items: center;
}
/* Setting classes*/

/* testing nesting */
/* nav {
  padding: 16px;
}
nav form {
  border-bottom: 1px solid var(--primary_color);
}
nav ul {
  padding: 0;
}
nav form label {
  position: relative;
} 
nav form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}*/
/* testing nesting */
nav {
  padding: 24px;

  & form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--primary_color);
    position: relative;
  }
  & ul {
    padding: 0;
  }
}
/*  */

h1 {
  text-transform: uppercase;
  font-size: 32px;
}
header {
  width: 100%;
  background-color: var(--secondary_color);
  position: fixed;
  top: 0;
  z-index: 99;
}
main {
  width: 80%;
  margin: 0 auto;
  padding: 150px 0;
}
.nav_main li a {
  margin: 0 16px;
  text-transform: uppercase;
}
.nav_icons li a {
  margin: 0 24px;
}

body {
  margin: 0;
}
footer {
  background-color: var(--primary_color);
  padding: 50px 0;

  & a {
    color: var(--secondary_color);
    display: inline-flex;
    align-items: center;
  }
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
footer ul svg {
  background-color: white;
  border-radius: 50px;
  padding: 16px;
  margin-right: 16px;
}

#checkbox_hamburguer_menu {
  appearance: none;
  width: 24px;
  position: absolute;
  top: 0;
  margin: 0;
  height: 24px;
  cursor: pointer;
}
.grid_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 3rem;

  & .card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
  }
  & .card_content {
    justify-content: space-around;
    font-size: 14px;
  }
}
.card img:hover {
  transform: rotate(2deg);
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 8px #0000001f;
}
.card_content {
  h2 {
    font-size: unset;
    font-weight: normal;
  }
  p {
    font-weight: bold;
  }
}
